In [1]:
import spacy 

spacy.__version__

'3.7.2'

In [2]:
nlp = spacy.load("en_core_web_sm")

In [3]:
nlp

Word tokenization

In [4]:
doc = "Whenever I go jogging, I turn Rammstein on."
doc_nlp = nlp(doc)

print(type(doc))
print(type(doc_nlp))

<class 'str'>
<class 'spacy.tokens.doc.Doc'>

In [5]:
[token.text for token in doc_nlp]

['Whenever', 'I', 'go', 'jogging', ',', 'I', 'turn', 'Rammstein', 'on', '.']

Sentence detection

In [13]:
text = """The sun peeked through the clouds, casting a warm glow over the tranquil meadow. \
Birds chirped melodiously, creating a symphony that echoed through the trees. \
The scent of freshly cut grass mingled with the sweet fragrance of blooming flowers, \
creating a delightful aroma in the air. A gentle breeze danced through the leaves, \
causing them to rustle softly. In that serene moment, everything felt harmonious and alive, embracing the beauty of nature.""" 

text

'The sun peeked through the clouds, casting a warm glow over the tranquil meadow. Birds chirped melodiously, creating a symphony that echoed through the trees. The scent of freshly cut grass mingled with the sweet fragrance of blooming flowers, creating a delightful aroma in the air. A gentle breeze danced through the leaves, causing them to rustle softly. In that serene moment, everything felt harmonious and alive, embracing the beauty of nature.'

In [14]:
text_nlp = nlp(text)
sentences = list(text_nlp.sents)
len(sentences)

5

In [18]:
for idx, sent in enumerate(sentences):
    print(f"{idx+1}." ,sent)

1. The sun peeked through the clouds, casting a warm glow over the tranquil meadow.
2. Birds chirped melodiously, creating a symphony that echoed through the trees.
3. The scent of freshly cut grass mingled with the sweet fragrance of blooming flowers, creating a delightful aroma in the air.
4. A gentle breeze danced through the leaves, causing them to rustle softly.
5. In that serene moment, everything felt harmonious and alive, embracing the beauty of nature.

In [22]:
# index positioning 

data = []
columns = ['token', 'start_index', 'is_alpha', 'is_stop_word']

for token in text_nlp:
    to_add = (token, token.idx, token.is_alpha, token.is_stop)
    data.append(to_add)

In [24]:
data

[(The, 0, True, True),
 (sun, 4, True, False),
 (peeked, 8, True, False),
 (through, 15, True, True),
 (the, 23, True, True),
 (clouds, 27, True, False),
 (,, 33, False, False),
 (casting, 35, True, False),
 (a, 43, True, True),
 (warm, 45, True, False),
 (glow, 50, True, False),
 (over, 55, True, True),
 (the, 60, True, True),
 (tranquil, 64, True, False),
 (meadow, 73, True, False),
 (., 79, False, False),
 (Birds, 81, True, False),
 (chirped, 87, True, False),
 (melodiously, 95, True, False),
 (,, 106, False, False),
 (creating, 108, True, False),
 (a, 117, True, True),
 (symphony, 119, True, False),
 (that, 128, True, True),
 (echoed, 133, True, False),
 (through, 140, True, True),
 (the, 148, True, True),
 (trees, 152, True, False),
 (., 157, False, False),
 (The, 159, True, True),
 (scent, 163, True, False),
 (of, 169, True, True),
 (freshly, 172, True, False),
 (cut, 180, True, False),
 (grass, 184, True, False),
 (mingled, 190, True, False),
 (with, 198, True, True),
 (the, 203, True, True),
 (sweet, 207, True, False),
 (fragrance, 213, True, False),
 (of, 223, True, True),
 (blooming, 226, True, False),
 (flowers, 235, True, False),
 (,, 242, False, False),
 (creating, 244, True, False),
 (a, 253, True, True),
 (delightful, 255, True, False),
 (aroma, 266, True, False),
 (in, 272, True, True),
 (the, 275, True, True),
 (air, 279, True, False),
 (., 282, False, False),
 (A, 284, True, True),
 (gentle, 286, True, False),
 (breeze, 293, True, False),
 (danced, 300, True, False),
 (through, 307, True, True),
 (the, 315, True, True),
 (leaves, 319, True, False),
 (,, 325, False, False),
 (causing, 327, True, False),
 (them, 335, True, True),
 (to, 340, True, True),
 (rustle, 343, True, False),
 (softly, 350, True, False),
 (., 356, False, False),
 (In, 358, True, True),
 (that, 361, True, True),
 (serene, 366, True, False),
 (moment, 373, True, False),
 (,, 379, False, False),
 (everything, 381, True, True),
 (felt, 392, True, False),
 (harmonious, 397, True, False),
 (and, 408, True, True),
 (alive, 412, True, False),
 (,, 417, False, False),
 (embracing, 419, True, False),
 (the, 429, True, True),
 (beauty, 433, True, False),
 (of, 440, True, True),
 (nature, 443, True, False),
 (., 449, False, False)]

In [26]:
import pandas as pd 

df = pd.DataFrame(data, columns=columns)

In [27]:
df

      token  start_index  is_alpha  is_stop_word
0       The            0      True          True
1       sun            4      True         False
2    peeked            8      True         False
3   through           15      True          True
4       the           23      True          True
..      ...          ...       ...           ...
78      the          429      True          True
79   beauty          433      True         False
80       of          440      True          True
81   nature          443      True         False
82        .          449     False         False

[83 rows x 4 columns]

Stop words